*{
    margin: 0;
    border:0;
    
}

body{
  background-color: #548587;
  text-align: center;
}
.container{
    height: 70vh;
        display: flex;

    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
   
}
.box{
    height: 18vmin;
    width: 18vmin;
     border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0 , 0 ,0 ,0.3);
    font-size: 8vmin;
    background-color: #ffffc7;
    color: firebrick;
}

#reset-bn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
   color: beige;
   border-radius: 1rem;
}
#new-game{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
   color: beige;
   border-radius: 1rem;
}
.msg{
    
    font-size: 5vmin;
}
.msg-cont{
    color: #ffffc7;
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    
}
.hide{
    display: none;
}
.msg-contd{
      color: #ffffc7;
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.msgc{
    
    font-size: 5vmin;
}
#reset{
    
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
   color: beige;
   border-radius: 1rem;
}
.hideg{
    display: none;
}